<div class="card col-4">
    <div class=" card-body">
        <h3>To Do list</h3>
        {{ form_start(form) }}
        <div class=" d-flex justify-content-start">
            <div>
                {{ form_row(form.name) }}
            </div>
            <div class="align-self-center ps-3">
                {{ form_row(form.submit) }}
            </div>
        </div>
        {{ form_end(form) }}
        <table class="table">
            <tbody>
            {% for todo in todos %}
                <tr>
                    <th scope="row">#</th>
                    <td>{{ todo.name }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>