{% extends 'base.html.twig' %}

{% block bodyExtraClasses %}  {% endblock %}

{% block pageContent %}
    <div class="row">
    <div class="col container-fluid">
    <div class="row card">
        <div class="col card-body d-flex flex-column justify-content-center align-items-center">
            <div class="row">
                <h1>  {{ book.title}}  </h1>
            </div>
            <div class="row">
                <h2> {{ book.author}}  </h2>
            </div>
            <div class="d-flex pt-3">
                <button type="button" class="btn red ms-2 me-2"><a
                            href="{{ path('newBook') }}">Edit</a></button>
                <button type="button" class="btn red ms-2 me-2"><a
                            href="{{ path('newBook') }}">Delete</a></button>
            </div>
        </div>
    </div>
    <div class="row card">
        <div class="col card-body d-flex flex-column ">
            <div class="row ">
                <div class="col-md-4 bookDescBorder d-flex justify-content-start">
{#                    todo: select the bookcover from db. where id = id select image column#}
                    {% set bookCover = 'uploads/bookCovers/' %}
                    <img src="{{ asset(bookCover ~ book.image) }}" alt="Book Cover">
                </div>
                <div class="col-md-8 pt-3 d-block descCol">
                    <div class="row text-white align-items-center">
                        {% include 'bookWidget/bookStars.html.twig' %}
                    </div>
                    <div class="row text-white pt-3 ">
                        <h4>Category:</h4> ...in progress...
                    </div>
                    <div class="row text-white pt-3 ">
                        <h4>Tags:</h4> ...in progress...
                    </div>
                    <div class="row text-white pt-3 ">
                        <h4>Opinion:</h4> {{  book.opinion }}
                    </div>
                </div>
            </div>


        </div>
    </div>


{% endblock %}