{% extends 'base.html.twig' %}
{% set days_in_month = date('now')|date_modify('last day of this month')|date('d') %}
{% set dayName = 1 %}
{% set yearNow = "now"|date("Y") %}
{% set monthNow = "now"|date("m")  %}
{% set dayNow = "now"|date("d") %}
{% set dayOfMonth = 31 %}

{% if monthNow == 4 or  monthNow == 6 or  monthNow == 11 or  monthNow == 9   %}
    {% set dayOfMonth = 30 %}
{% elseif monthNow == 2 %}
    {% set dayOfMonth = 28 %}
{% endif %}

{% block bodyExtraClasses %} habit-index {% endblock %}

{% block pageContent %}
    <div class="row">
        <div class="col container-fluid">
            <div class="row card">
                <div class="col card-body d-flex flex-column justify-content-center align-items-center">
                    <div class="row">
                        <h1> < {{ "now"|date("Y.m.") }} > </h1>
                    </div>
                    <div class="row">
                        <h2>{{ "now"|date('l') }} </h2>
                    </div>
                    <div class="d-flex pt-3">
                        <button type="button" class="btn red ms-2 me-2"><a
                                    href="{{ path('newHabit') }}">New
                                habit</a></button>
                    </div>
                </div>
            </div>
            <div class="card row">
                <div class="  card-body">
                    <h3>Habits</h3>
                    {{ dayOfMonth }}
                    <table class="table table-borderless mt-5">
                        <thead>
                            <tr>
                                <th>#</th>
{#                                todo: for day in 1..dayNumberOfMonth#}
                                {% for day in 1..dayOfMonth %}
                                    <td><a href={{ path('newCompletedHabits', {year: yearNow, month: monthNow, day:day})}}>{{ day }}</a></td>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for habit in habits %}
                            <tr >
                                <th>{{ habit.name }}</th>
                                {% for day in 1..dayOfMonth %}
                                    {% if day in days %}
                                        <td> - </td>
                                        {%  else %}
                                        <td> ??</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class=" d-flex justify-content-end">
                        <button type="button" class="btn red ms-2 "><a
                                href=#>Save</a></button>
                    </div>
                    ------------------------------------------------

                </div>
            </div>
        </div>
    </div>
{% endblock %}